---
// component imports
import Link from "../components/Link.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="About" description="About Page" >
  <section class="container about" aria-label="About Me">
    <div class="content">
      <h2 class="h2"> Blog</h2>
      <p>
        We will keep you updated with interesting articles. Any genre is welcome.
        I will create a blog that is useful and fun for you.

      </p>
    </div>
  </section>
</MainLayout>