---
// component imports
import MainLayout from "../layouts/MainLayout.astro";

import PostCard from "../components/PostCard.astro";
import Link from "../components/Link.astro";

// utils imports
import { formatBlogPosts } from "../js/utils";

const allPosts = await Astro.glob("./blog/*.md");
const formattedPosts = formatBlogPosts(allPosts, {
  limit: 3,
});
---

<MainLayout title="Privacy Policy">
  <section class="container" aria-label="Privacy Policy">
    <h2 class="h1">Earnings Disclaimer and Privacy Policy</h2>
    <div class="post-container policy">
      <h1>プライバシーポリシー</h1>
      <p>
        当ウェブサイトのプライバシーポリシーには、個人情報の収集、利用、保護に関する情報が記載されています。本ポリシーにご同意いただけない場合は、当サイトの利用を中止してください。
      </p>

      <h2>1. 収集する情報</h2>
      当サイトでは、以下のような目的で、利用者の個人情報を収集する場合があります:
        <p class="">1.1. コンテンツの提供および改善のための情報</p>
        当サイトでは、利用者に最適なコンテンツを提供するため、およびサイトの改善のために、以下の情報を収集することがあります
        <p>ユーザーが提供するお問い合わせやフィードバックに関連する情報</p>
        <p>ユーザーが当サイトにアクセスした際のデバイス情報（例: IPアドレス、ブラウザの種類、利用した言語、アクセス日時など）</p>
        <p>1.2. 広告の配信に関する情報</p>
        <p>当サイトでは、Google AdSenseを使用して広告を配信しています。広告表示において、以下の情報を収集するためにCookieやウェブビーコンを使用していることがあります</p>
        <p>ユーザーのデバイスに関する情報</p>
        <p>過去のサイトの利用履歴に基づく興味関心情報</p>
        <p>1.3. アクセス解析のための情報</p>
        <p>当サイトでは、Google Analyticsを使用してトラフィックデータを収集しています。収集される情報には、利用者のIPアドレス、ブラウザの種類、利用した言語、アクセス日時などが含まれます。これらの情報は匿名化されており、個人を特定するために使用されることはありません。</p>
        

      <h2>2. 個人情報の利用</h2>
      <p>当サイトでは、収集した情報を以下の目的で利用することがあります</p>
      ul<l
利用者へのコンテンツの提供および改善
広告の配信および興味に基づく広告のカスタマイズ
サイトのトラフィック解析および改善
利用者からのお問い合わせへの回答やフィードバックへの対応
サイトのセキュリティおよび不正行為の検出・防止


      <h2>3. データの保存とセキュリティ</h2>
      <p>...</p>

      <h2>4. 第三者への開示</h2>
      <p>...</p>

      <h2>5. リンク先のウェブサイト</h2>
      <p>...</p>

      <h2>6. 個人情報の管理</h2>
      <p>...</p>

      <h2>7. Cookie（クッキー）の利用</h2>
      <p>...</p>

      <h2>8. Google Analytics</h2>
      <p>...</p>

      <h2>9. Google AdSense</h2>
      <p>...</p>

      <h2>10. アフィリエイトプログラム</h2>
      <p>...</p>

      <h2>11. 広告の表示</h2>
      <p>...</p>

      <h2>12. セキュリティ</h2>
      <p>...</p>

      <h2>13. 国際データ転送</h2>
      <p>...</p>

      <h2>14. プライバシーポリシーの変更通知</h2>
      <p>...</p>

      <h2>15. 本プライバシーポリシーの言語</h2>
      <p>...</p>

      <h2>16. 合意と同意撤回</h2>
      <p>...</p>

      <h2>17. 未解決の問題</h2>
      <p>...</p>

      <h2>18. プライバシーポリシーの効力</h2>
      <p>...</p>
      <p>Updated May 6, 2023</p>
    </div>
  </section>
</MainLayout>
