---

---

<!-- <p>
  <label><input type="text" id="nameText" placeholder="Search" style="width:30%;"></label>
  <input type="button" value="Seach" id="checkButton" style="width: 10%; padding: 10px; font-size:15px;">
</p> -->
<div class="search-box">
  <input type="text" id="nameText" placeholder="Search" style="width:30%;">
  <button id="checkButton" type="submit">
    <iconify-icon icon="material-symbols:search"></iconify-icon>
  </button>
</div>

<script>
  import "../js/search";
</script>