---

---

<p>
  <label><input type="text" id="nameText" value="Sea" style="width:30%;"></label>
  <input type="button" value="Seach" id="checkButton" style="width: 10%; padding: 10px; font-size:15px;">
</p>


<script>
  import "../js/search";
</script>